# wmllint: no translatables

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Skeleton
[/binary_path]
    {~add-ons/Skeleton/utils.cfg}
[+units]
    {~add-ons/Skeleton/race.cfg}
    {~add-ons/Skeleton/units}
[/units]
[era]
    id=SKELETON
    name= _ "Default + Skeleton"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/Skeleton/faction.cfg}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
[era]
    id=SKELETON_AOH
    name= _ "Heroes + Skeleton"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/Skeleton/faction-aoh.cfg}
    {multiplayer/factions/loyalists-aoh.cfg}
    {multiplayer/factions/rebels-aoh.cfg}
    {multiplayer/factions/northerners-aoh.cfg}
    {multiplayer/factions/undead-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/drakes-aoh.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
#endif
